<form>
    <div class="bar">
        <!--Create a binding between the searchString model and the text field -->
        <input type="text" [(ngModel)]="searchString" name="banh" class="form-control" placeholder="Enter your search terms" />
    </div>
    <ul>
        <!--Render a li element for every entry in the computed filteredArticles array. -->
        <li *ngFor="let item of filterName()">
            <a [href]="item.url">
                <img [src]="item.image" />
            </a>
            <p>{{item.title}}</p>
        </li>
    </ul>
</form>