img{
    width: 100%;
    height: 100%;
}
.input[type=text] {
    width: 150px;
    -webkit-transition: width 1sease-in-out;
    transition: width 1sease-in-out;
}
.input[type=text]:focus{
    width: 100%;
}