<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header text-center text-info">
              <h5>Mảng 2 chiều</h5>
            </div>
            <div class="card-body">
              <label for="">Các phần tử trong mảng 2 chiều:</label>
              <div class="text-danger text-justify">
                <ul *ngFor="let arr of Array">
                  <li>{{arr}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>
<app-bai2></app-bai2>
<app-bai3></app-bai3>
<app-bai4></app-bai4>
<app-bai5></app-bai5>
<app-bai6></app-bai6>
<app-bai7></app-bai7>
