<div class="row">
  <div class="col-4 text-center">
    <img src="./assets/image/{{imgs}}"style="width: 100%; height: 400px;">
    <div class="row"style="margin-top: 10px;">
      <div class="col-3" *ngFor="let item of ImgV">
        <a href=#>
          <img src="./assets/image/{{item}}"style="width:70%" (click)="changeImg(item)">
        </a>
      </div>
    </div>
  </div>
  <div class="col-5">
    <h1>{{title1()}}</h1>
    <span><!--dùng ng-for hiển thị rating -->
      <!-- <i class="fas fa-star"*ngFor="let k of starRating()"></i> -->
    </span>
    <div class="text-justify">{{Content}}</div>
    <h3>GIÁ BÁN : {{ //price() |currency}} </h3>
    <!-- <strong [hidden]='inSale()'>Giá khuyến mãi: {{//priceOnSale() |currency}}</strong> -->
    <strong [hidden]='//!inSale()'>Giá khuyến mãi đã hết !</strong>
    <h5>Số sản phẩm còn trong kho : {{inStock()}}</h5>
    <button class="btn btn-primary"(click)="addCart(selectedVariant)"[disabled]="//inStock()==0">Mua liền!</button>
    <br><br><!--dùng ng-for thể hiện products -->
    <a href="#" *ngFor="let item of products; let i=index"(click)="selectedVariant=i; ChangeImage()">
      <img src='./assets/image/{{item.img}}'style="width: 20%;margin: 20px;">
    </a>
  </div>
  <div class="col-3"><div style="border: 1pxsolidblack;margin-top: 10px;padding: 10px;">
    <a href="#"style="float: left;">
      <i class="fas fa-shopping-cart"style="font-size: 50px;"></i>
    </a>
    <div class="text-center">{{totalItems()}}<br>Tổng tiền : {{Total() //|currency}} <br>
      <button class="btn btn-primary"style="margin-top: 10px;" data-toggle="modal"data-target="#modelId">View Cart</button>
    </div>
  </div>
  <div style="border: 1pxsolidblack;margin-top: 10px;padding: 10px;" class="text-center">
    <div class="card"style="width: 100%;"><div class="card-header">Chủng loại</div>
    <ul class="list-group list-group-flush"><li class="list-group-item bg-primary ">Điện thoại di động</li>
      <li class="list-group-item bg-secondary ">Máy tính xách tay</li>
      <li class="list-group-item bg-success">Máy tính để bàn</li>
      <li class="list-group-item bg-danger">Quạt</li>
      <li class="list-group-item bg-info">Máy lạnh</li>
      <li class="list-group-item bg-dark">Khác</li>
    </ul>
  </div>
</div>
</div>
</div>
<!----><!--Modal -->
<div class="modal fade"id="modelId"tabindex="-1"role="dialog"aria-labelledby="modelTitleId"aria-hidden="true">
  </div>
  <div class="modal-dialog modal-xl"role="document"><div class="modal-content">
    <table style="width: 100%;" class="text-center table">
      <tr>
        <th>HÌNH</th>
        <th>SẢN PHẨM</th>
        <th>ĐƠN GIÁ</th>
        <th>SỐ LƯỢNG</th>
        <th>THÀNH TIỀN</th>
        <th></th>
      </tr>
      <!--dùng ng-for thể hiện giỏ hàng -->
      <tr *ngFor="let item of cart; let i=index">
        <td><img src="./assets/image/{{item.img}}"style="height: 100px;width: 100px;"></td>
        <td class="align-middle">{{item.name}}</td>
        <td class="align-middle">{{item.price|currency}}</td>
        <td class="align-middle">{{item.quality}}</td>
        <td class="align-middle">{{item.price*item.quality|currency}}</td>
        <td class="align-middle">
          <button class="btn btn-danger"(click)="Remove(i)">Remove</button>
        </td>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th>Tổng tiền</th>
        <th>{{totalItems()}}</th>
        <th>{{Total() //|currency}}</th>
        <th>
          <button class="btn btn-danger"(click)="DeleteAll()">Xóa hết</button>
        </th>
      </tr>
    </table>
  </div>
</div>

